apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  #these labels are deployment related labels. not matching with pod labels.
  labels:
    app: nginx 
    purpose: helm
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: nginx
      purpose: helm
#below is pod definition
  template:
    metadata:
      labels:
        app: nginx
        purpose: helm
    spec:
      containers:
      - name: nginx
        image: nginx:{{ .Values.deployment.imageVersion }}  
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
      volumes:
      - name: nginx-conf
        configMap:
          name: nginx
          items:
          - key: nginx.conf
            path: nginx.conf